# 1.

imported df from exercise so it already has loyalty flag in it, need to reexamine.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import dataframe ords_prods_merged = pd.read_pickle
path = r'C:\Users\kickw\OneDrive\Documents\Instacart Basket Analysis'
df = pd.read_pickle(r'C:\Users\kickw\OneDrive\Documents\Instacart Basket Analysis\02 Data\Prepared Data\ords_category_labels.pkl')

In [3]:
#df shape
df.shape

(32434212, 18)

In [4]:
#df head
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders
1,2398795,1,2,3,7,15.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
2,473747,1,3,3,12,21.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders
4,431534,1,5,4,15,28.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders

# 2.

In [5]:
#mean orders by department
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457687   1  99
2                17.277920   1  99
3                17.179756   1  99
4                17.811403   1  99
5                15.213779   1  99
6                16.439806   1  99
7                17.225773   1  99
8                15.340520   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170828   1  99
12               15.887622   1  99
13               16.583304   1  99
14               16.757377   1  99
15               16.165037   1  99
16               17.663250   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

# 3.

How do these results vary from the results of the subset in the exercise?

Running the queries on the full dataset result in more department ids being displayed. The average number of orders fo the depatment ids displayed in the exercise have changed too.

# 4.

In [6]:
#create loyalty flag

df['max_order']= df.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
#view head(100)
pd.options.display.max_rows= None
df.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,10
1,2398795,1,2,3,7,15.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
2,473747,1,3,3,12,21.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
4,431534,1,5,4,15,28.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,10
6,550135,1,7,1,9,20.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,Returning Customer,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
10,2968173,15,15,1,9,7.0,Returning Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,Returning Customer,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,Returning Customer,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,Returning Customer,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,9
18,1573906,21,10,3,10,6.0,Returning Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,Returning Customer,196,17,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,20
20,2231262,31,17,3,11,8.0,Returning Customer,196,14,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,20
21,2580647,43,6,4,16,4.0,Returning Customer,196,9,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
22,2187180,43,9,4,12,3.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,11
23,2497897,52,1,1,9,NaN,New Customer,196,4,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
24,1318871,52,2,1,10,7.0,Returning Customer,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
25,1261384,52,3,1,10,7.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
26,580568,52,5,2,10,8.0,Returning Customer,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,Returning Customer,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
28,342306,52,9,1,11,7.0,Returning Customer,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
29,1520353,52,10,2,10,8.0,Returning Customer,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
31,944694,52,12,1,16,6.0,Returning Customer,196,7,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,27
32,1268191,52,15,2,11,8.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,Returning Customer,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,Returning Customer,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,Returning Customer,196,4,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,27
36,2695875,52,21,5,10,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,New Customer,196,1,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
38,970922,67,2,1,15,5.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
39,596585,67,3,1,13,7.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
40,2037087,67,4,2,9,8.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,24
41,2474111,67,5,3,14,8.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
42,1568481,67,6,3,12,7.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
43,2048527,67,8,2,11,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
46,1515698,67,11,1,11,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
47,1928050,67,12,2,12,8.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,24
48,1949274,67,13,1,10,6.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
49,551869,67,14,1,9,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
50,768572,67,16,4,10,9.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,24
51,150528,67,18,5,16,4.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,24
52,29758,67,19,0,14,9.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
53,1558976,67,21,1,9,5.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
54,863974,67,22,1,11,14.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
55,2308399,67,23,1,14,14.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,24
56,2759128,81,3,1,9,14.0,Returning Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,7
57,1812985,81,5,2,20,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,7
58,1889835,82,1,3,15,NaN,New Customer,196,6,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
59,499460,82,3,5,10,5.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,19
60,2728456,82,4,0,11,16.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
61,2653743,82,6,4,9,13.0,Returning Customer,196,5,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,19
62,1358880,82,9,1,10,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
63,343588,82,10,2,11,1.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,19
64,3034663,82,15,2,11,12.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,19
65,147262,82,18,1,13,7.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,19
66,3144004,82,19,2,15,8.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,19
67,2126069,98,3,0,9,25.0,Returning Customer,196,7,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,14
68,2210120,98,7,5,14,5.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,14
69,681011,98,9,3,9,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
70,2846344,98,11,4,13,15.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
71,747431,98,12,6,13,30.0,Returning Customer,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,14
72,2383054,98,13,4,11,30.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,14
73,1993729,98,14,5,8,8.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,14
74,1403849,109,3,3,17,9.0,Returning Customer,196,5,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,6
75,520620,120,1,3,11,NaN,New Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,3
76,3273029,120,3,2,8,19.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,3
77,1861943,185,2,1,12,25.0,Returning Customer,196,10,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,6
78,2040988,195,1,1,14,NaN,New Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
79,1680569,195,8,1,9,4.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
80,276171,195,19,5,11,3.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,58
81,2744976,195,22,5,10,7.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,58
82,2781919,195,25,1,14,4.0,Returning Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,58
83,1738718,195,31,2,8,4.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,58
84,3058369,195,34,3,10,6.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
85,1485596,195,37,2,15,0.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,58
86,417035,195,40,3,16,2.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
87,1615297,195,47,5,10,2.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,58
88,1765587,195,52,3,12,2.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
89,745908,195,57,4,11,3.0,Returning Customer,196,3,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,58
90,2505656,222,17,2,12,1.0,Returning Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,70
91,3268370,222,38,5,15,1.0,Returning Customer,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,70
92,2016711,290,9,5,19,6.0,Returning Customer,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,51
93,2706088,290,28,6,10,7.0,Returning Customer,196,16,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,51
94,1952286,331,6,5,16,30.0,Returning Customer,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,8
95,3226575,360,1,5,12,NaN,New Customer,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,3
96,1469869,377,3,5,17,3.0,Returning Customer,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,3
97,1927023,387,2,4,10,22.0,Returning Customer,196,3,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,8
98,858092,420,4,1,19,30.0,Returning Customer,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
99,119314,420,5,3,19,16.0,Returning Customer,196,2,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,22

In [8]:
df.loc[df['max_order']>40, 'loyalty_flag']= 'Loyal customer'
df.loc[(df['max_order']<=40) & (df['max_order']>10), 'loyalty_flag']= 'Regular customer'
df.loc[df['max_order']<=10, 'loyalty_flag']= 'New customer'

In [9]:
#view value_counts
df['loyalty_flag'].value_counts(dropna= False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [10]:
#view relevant columns
df[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# 5.

In [11]:
df.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order
count,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.035613e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07
mean,1.710748e+06,1.029374e+05,1.714192e+01,2.738810e+00,1.342500e+01,1.110416e+01,2.557778e+04,8.351176e+00,5.896888e-01,7.121649e+01,9.922231e+00,1.198114e+01,3.305217e+01
std,9.872996e+05,5.946649e+04,1.753489e+01,2.090047e+00,4.246351e+00,8.778943e+00,1.409614e+04,7.126688e+00,4.918902e-01,3.820429e+01,6.281190e+00,4.954311e+02,2.515449e+01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
25%,8.559450e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353500e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01
50%,1.711049e+06,1.026125e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01
75%,2.565510e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01

In [12]:
df_product_prices= df.groupby('loyalty_flag').agg({'prices':['mean']})

In [13]:
df_product_prices

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

On average, new customers spend the most.

# 6.

In [14]:
df['spending_category'] = df.groupby(['user_id'])['order_number'].transform('sum')

In [15]:
df.loc[df['spending_category']>=10, 'spending_flag']= 'High spender'
df.loc[df['spending_category']<10, 'spending_flag']= 'Low spender'

In [16]:
#view value_counts
df['spending_flag'].value_counts(dropna= False)

High spender    32430970
Low spender         3242
Name: spending_flag, dtype: int64

In [17]:
#view relevant columns
df[['user_id', 'spending_flag']].head(60)

    user_id spending_flag
0         1  High spender
1         1  High spender
2         1  High spender
3         1  High spender
4         1  High spender
5         1  High spender
6         1  High spender
7         1  High spender
8         1  High spender
9         1  High spender
10       15  High spender
11       15  High spender
12       15  High spender
13       15  High spender
14       15  High spender
15       19  High spender
16       19  High spender
17       19  High spender
18       21  High spender
19       31  High spender
20       31  High spender
21       43  High spender
22       43  High spender
23       52  High spender
24       52  High spender
25       52  High spender
26       52  High spender
27       52  High spender
28       52  High spender
29       52  High spender
30       52  High spender
31       52  High spender
32       52  High spender
33       52  High spender
34       52  High spender
35       52  High spender
36       52  High spender
37       67  High spender
38       67  High spender
39       67  High spender
40       67  High spender
41       67  High spender
42       67  High spender
43       67  High spender
44       67  High spender
45       67  High spender
46       67  High spender
47       67  High spender
48       67  High spender
49       67  High spender
50       67  High spender
51       67  High spender
52       67  High spender
53       67  High spender
54       67  High spender
55       67  High spender
56       81  High spender
57       81  High spender
58       82  High spender
59       82  High spender

# 7.

In [18]:
#group and find median
df['behavior_category'] = df.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [19]:
df['behavior_category'].head(30)

0     20.5
1     20.5
2     20.5
3     20.5
4     20.5
5     20.5
6     20.5
7     20.5
8     20.5
9     20.5
10    10.0
11    10.0
12    10.0
13    10.0
14    10.0
15     6.0
16     6.0
17     6.0
18     7.5
19     6.0
20     6.0
21    10.0
22    10.0
23     8.0
24     8.0
25     8.0
26     8.0
27     8.0
28     8.0
29     8.0
Name: behavior_category, dtype: float64

In [20]:
#having issues with the data type not being an integer
df['behavior_category']=df['behavior_category'].astype('int64')

In [21]:
#apply values to flag column
df.loc[df['behavior_category']>20, 'behavior_flag']= 'Non-frequent customer'

In [26]:
df.loc[(df['behavior_category']<=20) & (df['behavior_category']>10), 'behavior_flag']= 'Regular customer'

In [22]:
df.loc[df['behavior_category']<=10, 'behavior_flag']= 'Frequent customer'

In [27]:
#view the number of values in each column
df['behavior_flag'].value_counts(dropna= False)

Frequent customer        21607786
Regular customer          7196650
Non-frequent customer     3629776
Name: behavior_flag, dtype: int64

In [28]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_category,spending_flag,behavior_category,behavior_flag
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,...,both,Mid-range product,Regularly busy,Most orders,10,New customer,343,High spender,20,Regular customer
1,2398795,1,2,3,7,15.0,Returning Customer,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,343,High spender,20,Regular customer
2,473747,1,3,3,12,21.0,Returning Customer,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,343,High spender,20,Regular customer
3,2254736,1,4,4,7,29.0,Returning Customer,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,343,High spender,20,Regular customer
4,431534,1,5,4,15,28.0,Returning Customer,196,1,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,343,High spender,20,Regular customer

In [29]:
#save
df.to_pickle(r'C:\Users\kickw\OneDrive\Documents\Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merged_flags.pkl')